{% extends "learning_logs/base.html" %}

{% block page_header %}
	<div style="display:inline-block;">
		<h1>Topics——</h1>
	</div>
	<div  style="display:inline-block;">
		<a href="{% url 'learning_logs:new_topic' %}" style="background: grey;color: #fff;padding: 8px 20px;border-radius:10px;">Add new topic</a>
	</div>
{% endblock page_header %}

{% block content %}
	<ul>
		{% for topic in topics%}
			<li><h3>
				<a href="{% url 'learning_logs:topic' topic.id%}">{{ topic }}</a>
			</h3></li>
		{% empty %}
			<li><h3>No topics have been added yet.</h3></li>
		{% endfor %}
	</ul>
	
{% endblock content %}